.login {
  width: 100%;
  height: 100%;
  position: relative;
}
.loginPart {
  position: absolute;
  width: 21%;
//   height: 250px;
  right: 15%;
  margin-top: 5%;
  text-align: left;
  Button {
    width: 250px;
  }
}
.loginInfo {
  margin-top: 5%
}
